body{
	background-color: #D2D1D0;
	margin: 0;
	padding: 0;
	text-align:center;
	min-width:1000px;
}
.dropdown{
	list-style: none;
	margin: 0;

	position: absolute;
	left: 0;
	background-color: #fff;
	padding: 6px 15px;

	width: 150px;
	box-shadow: 4px 4px 0 0 rgba(35,35,35,0.1);
	
	
	
	/* para ul
	    background: rgba(0,0,0,0.67);

    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;

    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
	*/
}
.menu{
}

#total{
	margin: 0;
	padding: 0;
	font-family: 'Droid Sans', arial, serif;
}

#cabecera {
    z-index: 2;
    /*position: fixed;*/
}

/* ///////////////////////// MENU CABECERA ///////////////////////// */
#menucabecera{
	height: 75px;
	background: #232323;
	position: relative;
	
}

#menucabecera ul {
    position: relative;
	display: block;
	width: 900px;
	margin: 0px auto;
	padding: 4px 0;
	list-style: none;
	text-align: right;
}
#menucabecera ul li {
    display: inline;
    height: 40px;
    line-height: 30px;
	list-style: none;
    text-decoration: none;
    padding: 0;
}
#menucabecera ul li a {
	position: relative;
	top: 40px;
    font-weight: bold;
    font-size: 16px;
    /*color: #D7D7D7;*/
	color: grey;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);	
    padding: 10px 15px 10px 15px;
}

#menucabecera input{
	position: relative;
	top: 40px;
	left: 5px;
}

#menucabecera li:hover > a { background: #333333;}



#logo{
	float: left;
	margin-top: 30px;
	background:  url('/icon2.png') no-repeat top center;
    background-size: contain;
	width: 300px;
	
}

#buscar{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#formBus{
    display: inline;
}

/* ///////////////////////// MENU SECUNDARIO ///////////////////////// */
#menusecundario{
    position: relative;
	height: 40px;
	background: #333333;
	

}

#menusecundario ul{
	list-style: none;
	display: block;
	position: relative;
	width: 900px;
	margin: 0px auto;
	padding: 10px 0;
	list-style: none;
	text-align: center;
}

#menusecundario ul li{
	position: relative; 
	display: inline-block;	
}

#menusecundario ul li a {
	font-size: 14px;
    text-decoration: none;
	color: white;
    padding: 10px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#menusecundario ul li a:hover, .menu_simple ul li .current {
    color: white;
	background: #232323;
}

/* ///////////////////////// MENU PERFIL ///////////////////////// */
#menuperfil{
    position: relative;
    height: 40px;
    background: #333333;
    

}

#menuperfil ul{
    list-style: none;

    display: block;
    position: relative;
    width: 900px;
    margin: 0px auto;
    padding: 10px 0;
    list-style: none;
    text-align: center;
}

#menuperfil ul li{
    position: relative;
    display: inline-block;
}

#menuperfil ul li a {
    font-size: 14px;
    text-decoration: none;
    color: white;
    padding: 10px 55px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#menuperfil ul li a:hover, .menu_simple ul li .current {
    color: white;
    background: #232323;
}

/* //////////////////////////////////////////////// */

#principal{
    position: relative;
	height: 100%;
}

#seleccion{
	width: 100%;
	background: #D2D1D0;
    margin-left:auto;
    margin-right:auto;
}

#seleccion table{
	table-layout: fixed;
    
    font-weight: bold;
	color: #383838;
	width: 100%;
	height: 10px;
    text-align: center;
}

#lista{
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
}

#lista h4{
	margin: 0px;
	font-weight: bold;
}

#b_todo {
    left: 100px;
    padding: 4px 1px 4px 1px;
}
#b_ofer{
    padding: 4px 1px 4px 1px;
}
#b_deman{
    padding: 4px 1px 4px 1px;
}
#b_todo:hover{
    color: #D2D1D0;
	background: #333333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

}

#b_ofer:hover{
    color: #1ABC9C;
	background: #333333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

}

#b_deman:hover{
    color: #F68B1F;
	background: #333333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

}

.servicio{
	width: 180px;
	height: 100px;
	margin: 5px;
    padding: 2%;
    /*display: table-caption;*/
	word-wrap: break-word;
	display:inline-block;



    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border:1px solid #a1a1a1;
}


/* Esto es para que se visualice la oferta que queramos mas detalladamente en show_service.php */
.servicio2{
    width: 900px;
    height: 200px;
    margin: 5px;
    padding: 2%;
    padding: 20px 20px;
    /*display: table-caption;*/
    word-wrap: break-word;
    display:inline-block;


    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border:1px solid #a1a1a1;

}

.ofertas_demandas{
    background-color: #E9E8E7;
    border: 1px solid black;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}

/* fin de los estilos para show_service */

.ofertas{
	background: #62C2CC;
}

.ofertas:hover{
	box-shadow: 0px 0px 0px 2pt #3B3D46;
}

.demandas{
	background: #F68B1F;
	/*background: #207E62;*/
}
.demandas:hover{
	box-shadow: 0px 0px 0px 2pt #3B3D46;
}


#list div span{
    margin-left: 10em;
}

a{
    text-decoration: none;
    color: black;
}

.black_overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1000%;
    height: 1000%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 300%;
    height: 300px;
    padding: 16px;
    border: 16px solid grey;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

/* /////////////// EDIT //////////////// */

#perfil{
    position: relative;
    width: 450px;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    top: 50px;

}

#label_edit{
    float: left;
    padding-right: 100px;
    font-size: 13px;
}

#input_editar{
    float: right;
    font-size: 13px;
}

#perfil hr{
    width: 500px;
}

#delete_button{
    font: 16px sans-serif;
}

#delete_button:hover{
    background-color: red;
    color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

}

#loginbox {
position: relative;
top: 50px;
max-width: 500px;
margin: 0 auto;
position: relative;
padding: 10px 10px 50px;
}
#logincontent{
background-color: #E9E8E7;
border: 1px solid black;
-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
border-radius: 3px;
padding: 20px;
height: 450px;
}
#registerform{
	float: left;
	padding-right: 50px;
}
#loginform{
	float: right;
	
}
.wrongdata{
	font-size: 12px;
	color: red;
}


/* PUBLICACIONES */
#publicaciones{
    top: 10px;
    position: relative;
    margin-left: 10px;
    background-color: #E9E8E7;
    word-wrap: break-word;
    display:inline-block;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid black;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 3px;

}
#publicaciones tr{
    border-width: 1px;

}
#publicaciones tr td{
    padding: 20px 20px;
    border-bottom-style: solid;
    border-width: 1px;

}

